<h1>Listings <%= " in the #{Category.find(params[:category_id]).name.titleize} category" if params[:category_id] %> </h1>
<br>

<div class="row">
  <% @listings.each do |listing| %>
  <%= render listing %>
  <% end %>
</div>
