/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 //  background-color:black !important;
 }

 html, body {
 height: 100%;
 margin: 0;
 }
 .wrapper {
   min-height: 100%;

   /* Equal to height of footer */
   /* But also accounting for potential margin-bottom of last child */
   margin-bottom: -78px;
 }
 .footer,
 .push {
   height: 78px;
 }

 .navbar .dropdown-toggle:after{
  display:none;
 }

.navbar-color {
  background-color: #5bc64e!important;
}

.dropdown-toggle:visited {
  text-decoration: none; color: white;
}

.home-button:visited {
  text-decoration: none; color: white;
}

.search-bar {
  width: 200% !important;
}

.search-btn{
  padding: 10px 10px !important;
  position: absolute !important;

}

 .brand-text {
    padding-top: 10px !important;
    font-size: 150%;
    color: white !important;
 }

.carousel-inner > .item > a > img
{
  max-width: none !important;
}

.modal-content{
  max-width: 500px !important;
}

.close {
  float: right;
  font-size: 2.5rem !important;
}

.advance-search {
  position: absolute;
  margin-left: 315px;
  margin-top: -35px;
  height: 35px;
}

.advance-search-space {
  margin-left: inherit;
}

.advance-search-height{
  height: 250px;
}

.close-search{
  font-size: 200%;
  margin-left: auto;
  cursor: pointer;
}

.nav-align {
  margin-top: -8px;
  margin-left: 40px;
}

.nav-collapse-align{
  padding-left: unset;
  padding-right: unset;
}

.nav-bar{
  line-height: 38px !important;
}

.close-align{
  margin-left: auto;
}

