.login-input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-input:focus{
  background-color: lightblue;
}

.butt{
  width:300px;
  border-radius: 2px;
}

.textbook{
  font-style: italic !important;
  background-color:grey !important;
  height:428px !important;
  opacity:0.8 !important;
  width:400px !important;
}

/* Set a style for all buttons */
.login-button {
  background-color: black;
  color: white;
  padding: 14px 80px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}

/* Extra styles for the cancel button */
.signupbtn {
  padding: 14px 20px;
  background-color: black;
  color: white;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Aligning sign in */
.login-container {
    position: relative;
    width: 100%;
    overflow: hidden; /*To get your parent to respect the floated divs*/
}

.left, .right {
    position: relative;
    width: 49%; /*Because you only have 3 elements (100 divided by 3)*/
    float: left; /*To get them next to each other if all else fails*/
    overflow: hidden;
}

.middle {
    position: relative;
    width: 2%; /*Because you only have 3 elements (100 divided by 3)*/
    float: left; /*To get them next to each other if all else fails*/
    overflow: hidden;
}
